Source: helix
Section: editors
Priority: optional
Maintainer: Fabian Mettler <fabian@mettler.cc>
Build-Depends:
 cargo:native,
 debhelper (>= 12),
 rustc:native,
Standards-Version: 4.5.1
Homepage: https://github.com/helix-editor/helix

Package: helix
Architecture: amd64
Depends:
 ${misc:Depends},
 ${shlibs:Depends},
Provides:
 editor
Description: A post-modern text editor
 It's a joke. If Neovim is the modern Vim, then Helix is post-modern.